.img-publicacion{
    width: 80%;
    margin: 20px;
}
.icon-whapp{
 background: rgb(5, 158, 5);
 border-radius: 100%;
 color: white;
 margin-right: 25px;
 width: 42px;
 height: 42px;
}
.icon-telefono{
    background: rgb(236, 142, 142);
    border-radius: 100%;
    color: white;
    width: 42px;
    height: 42px;
}
.nombre{
    text-transform: full-width;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color:black ;
}
.barrio{

    font-size: 15px;
    font-weight:normal;
    color:black ;
}
.iconowsp{
  margin-inline-end: 5px;

   
    width: 42px;
    height: 42px;
}
.desripcion{
    margin-top: 100px;
    font-size: 15px;
    font-weight:normal;
    color:blue ;
}